/***********
 * Variables *
 ***********/
:root {
  --color-navbar: #424242;
  --color-primario:#FFFFFF;
  --color-secundario: #d93d67;
  --color-titulo: #000000;
  --color-texto: #565556;
  --font-family-body: 'Montserrat', sans-serif;
  --font-family-title: 'Oswald', sans-serif;
  --background-acceso: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/***********
 * Navbar *
 ***********/

.navbar {
  background-color: var(--color-navbar);
}

.navbar-nav li {
  border-right: 2px solid white; /* Añade un borde derecho de 2px de ancho en color blanco */
  padding-right: 10px; /* Añade relleno a la derecha del contenido */
}

/* Estilo para el último elemento li para quitar el borde derecho */
.navbar-nav li:last-child {
  border-right: none;
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

select:focus,
select:active {
  outline: none;
  border: none;
}

.nav-item{
  color: var(--color-primario);
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 1rem;
}

/***********
 * Navbar *
 ***********/

/***********
 * Hero *
 ***********/

 .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0'); 
  background-size: cover;
  background-position: center;
  height: 395px;
}

.hero h1, .hero h4 {
  color: var(--color-primario);
}

.inscripcion{
  margin-top: 140px;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .inscripcion {
      margin-top: 70px;
      margin-left: 20px;
  }
}

.hero h1{
font-family: var(--font-family-title);
font-weight: 500;
font-size: 5.9rem;
letter-spacing: -0.95px;
opacity: 1;
}

.hero h4{
font-family: var(--font-family-body);
font-weight: 500;
font-size: 1.125rem;
letter-spacing: 9px;
}

@media (max-width: 576px) {
  .hero h1 {
      font-size: 3.5rem;
  }
  .hero h4 {
      font-size: 1rem;
  }
}


/***********
 * Hero *
 ***********/

/******************
 * Seccion acceso *
 ******************/

.acceso {
  background-color: var(--background-acceso);
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.acceso h2 {
  color: var(--color-titulo);
  font-family: var(--font-family-body);
  font-size: 2.125rem;
  font-weight: 300;
  letter-spacing: 0.34px;
  padding-top: 2.125rem;
  text-align: center;
  
}

.acceso p{
  color: var(--color-texto);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.09px;
  opacity: 1;
  padding-bottom: 4.5rem;
  text-align: center;
  
}

.acceso h2 span{
  font-weight: 900;
}

/******************
 * Seccion acceso *
 ******************/

/******************
 * Seccion ayuda *
 ******************/

.ayuda {
  background-color: white;
  height: auto;
}

.ayuda h2{
  color: var(--color-titulo);
  font-family: var(--font-family-body);
  font-size: 2.125rem;
  font-weight: 300;
  letter-spacing: 0.34px;
  padding-top: 4.3rem;
  
}

.ayuda h2 span{
  font-weight: 900;
}

.ayuda p{
  color: var(--color-texto);
  font-weight: 400;
  font-size: 1.125rem;
  padding-bottom: 1.8rem;
  letter-spacing: -0.09px;
  opacity: 1;
}

.btn-ayuda{
  background-color: var(--color-secundario);
  color: var(--color-primario);
  font-family: var(--font-family-body);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.875rem 1.75rem;
  opacity: 1;

}

.card.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ayuda .card-title{
  color: var(--color-titulo);
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: -0.09px;
  opacity: 1;
}
.ayuda .card-text{
  color: var(--color-texto);
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.08px;
  opacity: 1;
}


/******************
 * Seccion ayuda *
 ******************/

/***********
 * Footer *
 ***********/
footer {
  margin-top: 0;
}

.seccion-uno {
  background-color: rgb(178, 52, 74);
}

.seccion-uno p{
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primario);
}

.seccion-roja {
  color: #ffffff;
  padding-top: 40px;
  margin-top: 0;
}

#politica {
  color: inherit; /* Esto hace que los enlaces tomen el color del texto circundante */
}

i {
  margin-right: 0.5em;
}

.text-reset {
  border-bottom: 1px solid rgb(77, 76, 76);
  padding-bottom: 0.5em;
  text-decoration: none;
}
.seccion-dos {
  background-color: #242323;
  color: #ffffff;
  padding-top: 40px;
}
.seccion-dos h6 {
  color: rgb(178, 52, 74);
}

#suscribir {
  background-color: rgb(178, 52, 74);
  color: #ffffff;
  padding: 0.3rem 0.6rem;
}

#copyright {
  background: #151515;
  color: #716e6e;
}



/***********
 * Footer *
 ***********/



 /*
Media Query para estilos específicos en dispositivos móviles
@media only screen and (max-width: 768px) {
  Estilos para pantallas con ancho máximo de 768px, típicamente para dispositivos móviles

  Cambia el tamaño del título h1 para dispositivos móviles
  .hero h1 {
    font-size: 3.5rem;  Tamaño del texto 
  }

  Cambia el tamaño del subtítulo h4 para dispositivos móviles
  .hero h4 {
    font-size: 1rem;  Tamaño del texto 
    letter-spacing: 5px;  Espaciado entre letras 
    margin-top: 20px;  Margen superior 
  }

  Ajusta el margen superior y el margen izquierdo del contenedor para dispositivos móviles
  .inscripcion {
    margin-top: 60px;  Margen superior 
    margin-left: 20px;  Margen izquierdo 
  }
}
*/

